@model List<Blog>
@{
    ViewData["Title"] = "Index";
    //int firstRow = (int)((ViewBag.CurrentPage - 1) * ViewBag.DataPage);
}

<h2 class="intro-y text-lg font-medium mt-10">
    Blogs
</h2>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
        <a class="button text-white bg-theme-1 shadow-md mr-2" asp-area="admin" asp-controller="blog" asp-action="create">Add New Team</a>
        <div class="dropdown relative">
            <button class="dropdown-toggle button px-2 box text-gray-700">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
            </button>
            <div class="dropdown-box mt-10 absolute w-40 top-0 left-0 z-20">
                <div class="dropdown-box__content box p-2">
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="printer" class="w-4 h-4 mr-2"></i> Print </a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="file-text" class="w-4 h-4 mr-2"></i> Export to Excel </a>
                    <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="file-text" class="w-4 h-4 mr-2"></i> Export to PDF </a>
                </div>
            </div>
        </div>
        <div class="hidden md:block mx-auto text-gray-600">@*Showing @(firstRow + 1) to @(firstRow + ViewBag.DataPage ) of @ViewBag.DataCount entries*@</div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <div class="w-56 relative text-gray-700">
                <input type="text" class="input w-56 box pr-10 placeholder-theme-13" placeholder="Search...">
                <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i>
            </div>
        </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible" style="overflow-x: scroll;">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-no-wrap">#</th>
                    <th class="whitespace-no-wrap">Image</th>
                    <th class="whitespace-no-wrap">Title</th>
                    <th class="text-center whitespace-no-wrap">Content</th>
                    <th class="text-center whitespace-no-wrap">Category</th>
                    <th class="text-center whitespace-no-wrap">User</th>
                    <th class="text-center whitespace-no-wrap">Date</th>
                    <th class="text-center whitespace-no-wrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0;}
                @foreach (var blog in Model)
                {
                    i++;
                    <tr class="intro-x">
                        <td>
                            @i
                        </td>
                        <td class="w-40">
                            <div class="flex">
                                <div class="w-10 h-10 image-fit zoom-in">
                                    <img alt="@blog.Image" class="tooltip rounded-full" src="~/Uploads/Images/@blog.Image" title="@blog.Image">
                                </div>
                            </div>
                        </td>
                        <td>@blog.Title</td>
                        <td>@(blog.Content.Length>50 && blog.Content!=null? blog.Content.Substring(0,50): blog.Content)</td>
                        <td>@blog.BlogCategory.Name</td>
                        <td>@blog.CustomUser.Name</td>
                        <td>@(blog.CreatedDate!=null? blog.CreatedDate.ToString("dd.MM.yyyy"):"")</td>
                       
                        <td class="table-report__action w-56">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" asp-area="admin" asp-controller="blog" asp-action="update" asp-route-teamId="@blog.Id"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                <a class="flex items-center text-theme-6" asp-area="admin" asp-controller="blog" asp-action="delete" asp-route-teamId="@blog.Id" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
    <!-- BEGIN: Pagination -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
        <div class="download">
            <a asp-area="admin" asp-controller="blog" asp-action="ExportBlog" title="Download to excel">
                <img width="50" src="https://glowserve.co.uk/wp-content/uploads/2020/07/Excel.png" alt="Alternate Text" />
            </a>
        </div>
        <ul class="pagination">
            @*<li>
                <a class="pagination__link" asp-area="admin" asp-controller="team" asp-action="index" asp-route-page="1"> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
            </li>
            <li>
                <a class="pagination__link" asp-area="admin" asp-controller="team" asp-action="index" asp-route-page="@(ViewBag.CurrentPage<=1?1: ViewBag.CurrentPage - 1)"> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
            </li>

            <li> <a class="pagination__link" href="">...</a> </li>

            @for (int j = 1; j <= ViewBag.PageCount; j++)
            {
                <li> <a class="pagination__link @(j==ViewBag.CurrentPage ?"pagination__link--active":"")" asp-area="admin" asp-controller="team" asp-action="index" asp-route-page="@j">@j</a> </li>
            }

            <li> <a class="pagination__link" href="">...</a> </li>

            <li>
                <a class="pagination__link" asp-area="admin" asp-controller="team" asp-action="index" asp-route-page="@(ViewBag.CurrentPage>=ViewBag.PageCount?ViewBag.PageCount:ViewBag.CurrentPage + 1)"> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
            </li>
            <li>
                <a class="pagination__link" asp-area="admin" asp-controller="team" asp-action="index" asp-route-page="@ViewBag.PageCount"> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
            </li>*@
        </ul>
        <select class="w-20 input box mt-3 sm:mt-0">
            <option>10</option>
            <option>25</option>
            <option>35</option>
            <option>50</option>
        </select>
    </div>
    <!-- END: Pagination -->
</div>
<!-- BEGIN: Delete Confirmation Modal -->
<div class="modal" id="delete-confirmation-modal">
    <div class="modal__content">
        <div class="p-5 text-center">
            <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Are you sure?</div>
            <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
        </div>
        <div class="px-5 pb-8 text-center">
            <a asp-area="admin" asp-controller="team" asp-action="index" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</a>
            <button type="button" class="button w-24 bg-theme-6 text-white">Create</button>
        </div>
    </div>
</div>
<!-- END: Delete Confirmation Modal -->